body {
    background: linear-gradient(to right,white, #794d2fbe);
    font-family: 'Indie Flower', monospace;
  }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #794d2fbe;
      }
      
    li {
        float: left;
      }
      
    li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }

    li a:hover {
        background-color: #e0c9c9;
      }

    .active {
        background-color: #e0c9c9;
      }
      
    a:hover {
    color: rgb(0, 0, 0);
    }

    * {
        margin: 0;
        padding: 0;
    }
    .imgbox {
        display: grid;
        height: 100%;
    }
    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
        width: 500px;
        height: 680.47px;
    }
    .Hello {
        text-align: center;
    }

    .About {
        text-align: center;
    }

    .count {
        text-align: center;
        font-family: 'Indie Flower', monospace;
        font-size: 70px;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
      
      .fa:hover {
          background-color: #e0c9c9;
      }
      
      .fa-instagram {
        background: #794d2fbe;
        color: rgb(0, 0, 0);
      }
      .forma {
        margin: 5px
      }